@font-face {
  font-family: "Colendra";
  src: url("fonts/ColendraBold.eot");
  src: url("fonts/ColendraBold.eot?#iefix") format("embedded-opentype"), url("fonts/ColendraBold.woff2") format("woff2"), url("fonts/ColendraBold.woff") format("woff"), url("fonts/ColendraBold.ttf") format("truetype"), url("fonts/ColendraBold.svg#ColendraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Colendra";
  src: url("fonts/ColendraRegular.eot");
  src: url("fonts/ColendraRegular.eot?#iefix") format("embedded-opentype"), url("fonts/ColendraRegular.woff2") format("woff2"), url("fonts/ColendraRegular.woff") format("woff"), url("fonts/ColendraRegular.ttf") format("truetype"), url("fonts/ColendraRegular.svg#ColendraRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.whitepaper {
  color: #FCAA9D;
}

html, body {
  background: #fff1eb;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #512E1C;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  padding: 5vmin 5vmin 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  justify-content: space-between;
}
header a {
  color: #512E1C;
}
header a:hover {
  color: #FCAA9D;
  text-decoration: none;
}
header img {
  width: 100px;
  margin: 0 30px 0 0;
  float: left;
}
header h1 {
  float: left;
  margin: 0.5em 0;
}

nav {
  float: right;
  text-align: right;
}
nav a {
  margin-right: 40px;
}
@media (max-width: 1200px) {
  nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  nav a {
    margin: 20px;
    font-size: 1.5em;
  }
}

.menu-open {
  display: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .menu-open {
    display: block;
  }
}

.menu-open i {
  height: 4px;
  width: 50px;
  background-color: #DAB186;
  display: block;
}
.menu-open i + i {
  margin-top: 10px;
}

.menu-close i {
  height: 4px;
  width: 50px;
  background-color: #322a25;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}
.menu-close i + i {
  transform: rotate(-45deg);
}

.menu-close {
  display: none;
}
@media (max-width: 1200px) {
  .menu-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
}

#menu-toggle {
  display: none;
}
@media (max-width: 1200px) {
  #menu-toggle:checked + nav {
    transform: translate(-100%, 0);
  }
}

a {
  color: #FCAA9D;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

main {
  padding: 5vmin 5vmin 0;
  position: relative;
  z-index: 9;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: Colendra;
  margin: 0 0 0.3em 0;
}

h1 {
  font-size: 64px;
  margin-bottom: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

.h4 {
  font-size: 32px;
}

h4 {
  font-size: 64px;
  font-weight: 300;
}

h5 {
  font-size: 24px;
  font-weight: 900;
}

ul {
  font-size: 24px;
  line-height: 1.8;
  list-style: none;
}
ul li {
  position: relative;
  padding: 0.5rem 0;
}
ul li:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("images/paw.svg");
  background-size: cover;
  background-position: center;
  left: -40px;
  top: 20px;
}

p {
  line-height: 1.8;
}

.display {
  font-family: Colendra;
  line-height: 1;
  font-size: 64px !important;
  color: #DAB186;
}

.heading {
  display: inline-block;
  margin: 1em auto;
  text-align: center;
  position: relative;
  color: #DAB186;
}
.heading:before, .heading:after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #DAB186;
  position: absolute;
  top: 50%;
}
.heading:before {
  right: calc(100% + 40px);
}
.heading:after {
  left: calc(100% + 40px);
}

.social-icon {
  display: inline-block;
  color: #512E1C;
}
.social-icon:hover {
  color: #FCAA9D;
}
.social-icon + .social-icon {
  margin-left: 20px;
}

section {
  position: relative;
  z-index: 2;
  margin-bottom: 70px;
  width: 100%;
}

footer {
  padding: 5vmin;
  background: #322a25;
  color: #fff;
  position: relative;
  z-index: 10;
  margin-top: 5vmin;
}
footer ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
}
footer ul li:before {
  content: "";
  display: none;
}
footer ul a {
  color: #fff;
  text-decoration: none;
}
footer ul a:hover {
  color: #FCAA9D;
  text-decoration: none;
}

.footer-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.footer-inner div {
  margin-right: 100px;
}

.blob {
  position: fixed !important;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translate(50%, 50%);
  opacity: 0.5;
}
.blob svg {
  fill: #FCAA9D;
}

.tokenomics {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tokenomics li {
  display: inline-block;
}

.faq {
  display: flex;
  flex-direction: column;
}

.faq-item {
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}
.faq-item h3 {
  color: #DAB186;
}
.faq-item + .faq-item {
  padding-top: 40px;
  border-top: 2px solid #DAB186;
}

.box {
  border-radius: 20px;
  background-color: #fff;
  padding: 50px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.box:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 2px dashed #DAB186;
  border-radius: 10px;
  z-index: 0;
}

.roadmap {
  display: flex;
  flex-direction: column;
}
.roadmap h4 {
  font-weight: 700;
  margin-bottom: 0;
  color: #DAB186;
}
.roadmap ul {
  display: block;
  width: 100%;
  padding: 40px 40px 40px 80px;
}
@media (min-width: 800px) {
  .roadmap ul {
    width: 60%;
  }
  .roadmap ul:nth-child(odd) {
    align-self: flex-end;
  }
}

.link-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.link-grid__item {
  flex: 1;
}

.button--primary {
  text-transform: uppercase;
  text-decoration: none;
  color: #512E1C;
  font-size: 18px;
  border-radius: 8px;
  border: 3px solid #FCAA9D;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.button--primary:hover {
  background-color: #FCAA9D;
  color: #fff;
  text-decoration: none;
}

.button--main {
  background-color: #FCAA9D;
  color: #fff;
  font-weight: 700;
}
.button--main:hover {
  background-color: #fdbfb6;
  border-color: #fdbfb6;
}

.kitty-gif {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.kitty-gif img {
  mix-blend-mode: multiply;
}
.kitty-gif:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #fff;
  z-index: 10;
}

/*# sourceMappingURL=index.css.map */
